.container {
  width: 100%;
  min-height: 1080px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url('../../../public/images/background.svg') center fixed
    no-repeat;
  background-size: cover;
}

.header {
  min-width: 75%;
  min-height: 7.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 2.9rem auto;
  background: url('../../../public/images/back.jpg') no-repeat;
  background-size: 100% 100%;
  border-radius: 27px/27px;
}

.header__title {
  height: 50%;
  text-align: center;
  width: 50%;
  line-height: 7.9rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__title span:last-child {
  margin-left: 50px;
  margin-bottom: 8px;
  font-size: 4rem;
  font-weight: 900;
}
.body {
  width: 75%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.item__list {
  flex: 1 1 81%;
}

.sidebar {
  flex: 1 1 19%;
  height: 30em;
  position: sticky;
  top: 5em;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

@media screen and (max-width: 70rem) {
  .header {
    display: none;
  }
  .body {
    width: 70%;
  }
  .sidebar {
    display: none;
  }
  .item__list {
    flex: 1 1 100%;
  }
}
