.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle {
  width: 100%;
  margin: 0 auto;
}

.add__new__note {
  width: 100%;
  padding: 15px 0;
}

.recent__issue {
  width: 100%;
}
