.container {
  border: 0.2px solid #ffffff;
  border-radius: 5px/5px;
  box-shadow: 1px 1px 10px grey;
}

.title {
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 16px;
  padding-top: 16px;
}

.router {
  height: 4rem;
  border: 1px solid white;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0.8rem;
  line-height: 4rem;
  text-align: left;
  border-radius: 4%;
  padding-left: 10px;
  background: #c7d6f5;
  border-bottom-right-radius: 25%;
}
