{
  "extends": ["next", "prettier"],
  "rules": {
    "@next/next/no-document-import-in-page": "off",
    "react-hooks/exhaustive-deps": "off",
    "@next/next/no-img-element": "off",
    "react/no-children-prop": "off",
    "react-hooks/rules-of-hooks": "off"
  }
}
