.content {
  flex: 1 1 73.5%;
  width: 100%;
  margin: 4em auto;
  padding: 0 4em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info_item {
  width: 80%;
  height: 4em;
  border: 1px solid #00000028;
  display: flex;
  border-radius: 30px/30px;
  overflow: hidden;
  margin: 4em 0;
}

.info_item_topic {
  flex: 1 1 20%;
  height: 100%;
  background: #b5bdff;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_item_page {
  flex: 1 1 80%;
  height: 100%;
  background: white;
  font-size: 2rem;
  font-weight: normal;
  padding-left: 1em;
  display: flex;
  align-items: center;
}

.icons_bookmark {
  background: url('../../../../../public/images/note_detail/bookmark_button.svg')
    center no-repeat;
  background-size: cover;
  position: absolute;
  top: 120px;
  right: 120px;
  width: 2em;
  height: 2em;
  margin-top: 0.6em;
}

.icons_share {
  background: url('../../../../../public/images/note_detail/share_button.svg')
    center no-repeat;
  background-size: cover;
  position: absolute;
  top: 120px;
  right: 200px;
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.slideActive {
  width: 300px;
  height: 3em;
  border-radius: 30px/30px;
  background: url('../../../../../public/images/share_text_bar.svg') center
    no-repeat;
  background-size: cover;
  position: absolute;
  bottom: calc(50% + 3vh);
  left: 50vw;
  opacity: 1;
  transition: opacity 500ms;
}

.slideHidden {
  width: 300px;
  height: 3em;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms, visibility 500ms;
}

.buttonOk {
  width: 100px;
  height: 40px;
  margin: 10px 0.5em;
  background-color: #b5bdff;
  font-weight: bolder;
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 120px;
  right: 120px;
}

.markdown_renderer {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.dropdownContainer {
  position: absolute;
  padding: 0 1em;
  top: 167px;
  left: 40.3%;
  width: 820px;
  height: 400px;
  font-size: 2rem;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #d4d4d4;
  background: white;
  flex-grow: 1;
  border-top-right-radius: 30px;
  transition: opacity 500ms;
}

.dropdownHidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms;
}

.dropdownContainer span:hover {
  color: #b5bdff;
}
