.editor_wrap {
  width: 91%;
  height: 100%;
  margin: 0 auto;
}

.editor_button {
  display: flex;
  padding: 1.5em 0;
}

.editor_button button {
  width: 5em;
  height: 3em;
  margin: 0 1em;
  font-size: 1rem;
  border: 1px solid #00000028;
  border-radius: 15px/15px;
}

.editor_button button:hover {
  opacity: 0.8;
}

.editor_button button:focus {
  background: #b5bdff;
}

.editor_button button:first-child {
  margin: 0;
}

.detail_content {
  padding-right: 3em;
  display: flex;
  flex-direction: column;
}

.users_input {
  width: 100%;
  height: 3em;
  border: 1px solid #00000028;
  margin: 0 auto;
  padding-left: 0.6em;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px/10px;
  outline: 0;
}

.users_textarea {
  width: 100%;
  height: 71vh;
  border: 1px solid #00000028;
  margin: 1em auto 0 auto;
  padding-top: 0.6em;
  padding-left: 0.6em;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px/10px;
  color: black;
  resize: none;
  outline: 0;
  -webkit-appearance: none;
}

.preview {
  width: 100%;
  height: 100%;
  border-top: 1px solid #00000028;
  padding: 20px;
  outline: 0;
  font-size: 1.2rem;
  line-height: 2.5rem;
}
