#issue {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.issue__list {
  max-width: 1660px;
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 1500px;
  border: 1px solid black;
  display: grid;
  grid-auto-rows: minmax(80px, 80px);
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
