.section input[id*='slide'] {
  display: none;
}

.slidewrap {
  overflow: hidden;
  width: 53.75rem;
  margin: 0 auto;
}

.section .slidelist > li > a {
  display: block;
  position: relative;
}

.slidewrap a {
  cursor: default;
}

.slidelist {
  white-space: nowrap;
  /* font-size: 0; */
}

.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.08s;
}

.section .slidelist .left {
  top: 20%;
  left: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  position: absolute;
  z-index: 10;
  padding: 20px;
  background-color: black;
  background: url('../../public/left-arrow.png') center center / 100% no-repeat;
}

@keyframes toemail {
  0% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes toauth {
  0% {
    transform: translateX(-98%);
  }
  50% {
    transform: translateX(-102%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes topw {
  0% {
    transform: translateX(-198%);
  }
  50% {
    transform: translateX(-202%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes topwCheck {
  0% {
    transform: translateX(-298%);
  }
  50% {
    transform: translateX(-302%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.section [id='slide-email']:checked ~ .slidewrap .slidelist > li {
  animation: toemail 0.1s ease forwards;
}

.section [id='slide-auth']:checked ~ .slidewrap .slidelist > li {
  animation: toauth 0.1s ease forwards;
}

.section [id='slide-pw']:checked ~ .slidewrap .slidelist > li {
  animation: topw 0.1s ease forwards;
}

.section [id='slide-pwCheck']:checked ~ .slidewrap .slidelist > li {
  animation: topwCheck 0.1s ease forwards;
}
