.card {
  justify-content: center;
  color: white;
  width: 17rem;
  overflow: hidden;
}

.test_0 {
  grid-row: span 2;
  /* background-color: #008000; */
}

.test_1 {
  grid-row: span 3;
  /* background-color: crimson; */
}

.test_2 {
  grid-row: span 4;
  /* background-color: blue; */
}

.test_3 {
  grid-row: span 5;
  /* background-color: gray; */
}

.card__title {
  margin: 13px 0 0 40px;
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  color: black;
}
