.card {
  justify-content: center;
  color: white;
  width: 17rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.card:hover > .card_hover {
  display: flex;
}

.len_0 {
  grid-row: span 2;
}

.len_1 {
  grid-row: span 3;
}

.len_2 {
  grid-row: span 4;
}

.len_3 {
  grid-row: span 5;
}

.card__title {
  margin: 13px 0 0 40px;
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  color: black;
}

.card_hover {
  position: relative;
  width: 17rem;
  height: 109%;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -125%;
  display: none;
}

.card__context {
  position: absolute;
  color: black;
  margin: 60px 0 0 40px;
  padding-right: 40px;
}

.detail_btn {
  margin-top: 1.2rem;
  background-color: #8bc8fd;
  box-shadow: 1px 1px 2px #000000;
  box-shadow: 1px 1px 2px var(--unnamed-color-000000);
  border-radius: 10px;
  color: white;
  height: 36px;
}
