.index_index {
  display: flex;
}

.index_topic {
  flex: 1 1 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0em 1em 1.5em;
  border-right: 0.7px solid #00000028;
  overflow: hidden;
}

.index_topic_ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.index_topic_li {
  width: 100%;
  min-height: 62px;
  background: #9aa1cc;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  margin: 0.7em auto;
  padding: 0.5em 1em;
}

.index_topic_li:hover {
  transform: scale(1.1, 1.01);
  background: #b5bdff;
}

.index_page {
  flex: 1 1 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0em 1em 0.5em;
  overflow-y: auto;
}

.index_page_ul {
  width: 100%;
  height: 570px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(70px, auto));
  row-gap: 10px;
  overflow-y: auto;
  margin-top: 0.2em;
}

.index_page_ul::-webkit-scrollbar {
  width: 3px;
  background: none;
}

.index_page_ul::-webkit-scrollbar-track {
  background: none;
}

.index_page_li {
  max-width: 90%;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: bolder;
  margin: 0.35em 1em;
  margin-left: 0.6em;
  cursor: pointer;
  word-break: break-all;
  transition: transform 200ms ease-in-out;
}

.index_page_li:first-child {
  margin-top: 0.3em;
}

.index_page_li:last-child {
  margin-bottom: 0.3em;
}

.index_page_li:hover {
  transform: translateY(-1px);
}

.dark {
  color: #00000028;
}

@media (max-width: 1024px) {
  .index_topic_li {
    font-size: 0.75rem;
  }

  .index_page_li {
    font-size: 0.875rem;
  }
}
