.notes_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 439px;
  height: 237px;
  background: rgba(255, 255, 255, 1);
  z-index: 10;
  border-radius: 30px/30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.modal_content h1 {
  padding-top: 1em;
  margin-left: 17px;
  font-size: 2.1rem;
  font-weight: bold;
}

.btn {
  width: 90%;
  height: 5em;
  display: flex;
  align-items: center;
}

.ok_button {
  width: 87%;
  height: 2.7em;
  border-radius: 10px/10px;
  background: #4db7e6;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
