.wrap {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

.img_item {
  width: 10rem;
  margin: 0;
  border-radius: 3%;
}

.tit_item {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 160px;
  margin: 10px auto;
}

.txt_info {
  display: block;
  margin-bottom: 10px;
  color: #999;
  text-align: center;
}

.num_price {
  font-size: 17px;
  color: #00bcd4;
  font-weight: bold;
}
