.wrap {
  display: flex;
  flex-direction: column;
}

.info_item {
  display: flex;
  flex-direction: column;
}

.img_item {
  margin: 0 auto;
  width: 100%;
  height: 50%;
}

.tit_item {
  margin-top: 30px;
  font-size: 2rem;
}
