.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.19) inset;
  position: relative;
}

.index {
  flex: 1 1 26.5%;
  width: 100%;
  background-color: #b5bdff;
}

.index_wrap {
  position: sticky;
  top: 3.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index_title {
  width: 77%;
  min-height: 200px;
  margin: 1em auto;
  margin-top: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.index_title_span {
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: 1000;
  padding: 0 1rem;
  position: relative;
}

.index_index {
  width: 77%;
  height: 70%;
  margin: 1em auto;
  margin-top: 0;
  flex: 1 1 70%;
  background-color: white;
  display: flex;
}

.index_topic {
  flex: 1 1 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0em 1em 3em;
  border-right: 0.7px solid #00000028;
  overflow: hidden;
}

.index_topic_ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.index_topic_li {
  width: 100%;
  height: 3em;
  background: #9aa1cc;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
  margin: 0.7em auto;
  position: relative;
}

.index_topic_li:hover {
  transform: scale(1.1, 1.01);
  background: #b5bdff;
}

.index_page {
  flex: 1 1 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 3em 1em 0em;
}

.index_page_ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 0.5em;
}

.index_page_li {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
  margin: 0.7em auto;
  margin-left: 1em;
  position: relative;
}

.index_page_li:hover {
  transform: scale(1.03, 1.01);
}

.index_page_li:focus {
  transform: scale(1.03, 1.01);
}
.index_page_right_click {
  position: absolute;
  top: 0px;
  right: 0px;
}
.content {
  flex: 1 1 73.5%;
  width: 100%;
  margin: 4em auto;
  padding: 0 4em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info_item {
  width: 80%;
  height: 4em;
  border: 1px solid #00000028;
  display: flex;
  border-radius: 30px/30px;
  overflow: hidden;
  margin: 4em 0;
}

.info_item_topic {
  flex: 1 1 20%;
  height: 100%;
  background: #b5bdff;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_item_page {
  flex: 1 1 80%;
  height: 100%;
  background: white;
  font-size: 2rem;
  font-weight: normal;
  padding-left: 1em;
  cursor: pointer;
}

.icons_bookmark {
  background: url("../../../../public/images/note_detail/bookmark_button.svg")
    center no-repeat;
  background-size: cover;
  position: absolute;
  top: 120px;
  right: 120px;
  width: 2em;
  height: 2em;
  margin-top: 0.6em;
}

.icons_share {
  background: url("../../../../public/images/note_detail/share_button.svg")
    center no-repeat;
  background-size: cover;
  position: absolute;
  top: 120px;
  right: 200px;
  width: 3em;
  height: 3em;
}
.detail_content {
  padding-right: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail_content p {
  font-size: 1.3rem;
  line-height: 3rem;
}

.hiddenRef {
  position: absolute;
  top: 45px;
  left: 55px;
}

.rightClickSpan {
  width: 120px;
  border: 0.2px solid rgba(185, 185, 185, 0.315);
  height: 5em;
  background: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.19);
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
  position: absolute;
}
.rightClickSpan span {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.rightClickSpan span:hover {
  background-color: #b5bdff;
}

.hidden {
  display: none;
}
.hiddenModal {
  cursor: default;
}

.hidden_modal {
  display: none;
}

.hidden_0 {
  display: block;
}
.hidden_page {
  display: none;
}
