.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-rows: minmax(264px, 264px);
  margin-bottom: 2rem;
}

.container_note {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(12, minmax(10px, 1fr));
}

.container_note span {
  grid-column: 1;
  grid-row: 4/6;
  padding-top: 0.95rem;
  padding-left: 1.2rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.color_0 {
  background: url('../../../../public/images/notes/note4.svg') center no-repeat;
  background-size: contain;
}
.color_1 {
  background: url('../../../../public/images/notes/note5.svg') center no-repeat;
  background-size: contain;
}
.color_2 {
  background: url('../../../../public/images/notes/note6.svg') center no-repeat;
  background-size: contain;
}
.color_3 {
  background: url('../../../../public/images/notes/note7.svg') center no-repeat;
  background-size: contain;
}
.color_4 {
  background: url('../../../../public/images/notes/note8.svg') center no-repeat;
  background-size: contain;
}
.color_5 {
  background: url('../../../../public/images/notes/note9.svg') center no-repeat;
  background-size: contain;
}
.color_6 {
  background: url('../../../../public/images/notes/note11.svg') center no-repeat;
  background-size: contain;
}
.color_7 {
  background: url('../../../../public/images/notes/note15.svg') center no-repeat;
  background-size: contain;
}
.color_8 {
  background: url('../../../../public/images/notes/note3.svg') center no-repeat;
  background-size: contain;
}
.color_9 {
  background: url('../../../../public/images/notes/note2.svg') center no-repeat;
  background-size: contain;
}
.color_10 {
  background: url('../../../../public/images/notes/note13.svg') center no-repeat;
  background-size: contain;
}
.color_11 {
  background: url('../../../../public/images/notes/note14.svg') center no-repeat;
  background-size: contain;
}
.color_12 {
  background: url('../../../../public/images/notes/note1.svg') center no-repeat;
  background-size: contain;
}
.color_13 {
  background: url('../../../../public/images/notes/note2.svg') center no-repeat;
  background-size: contain;
}
.color_14 {
  background: url('../../../../public/images/notes/note3.svg') center no-repeat;
  background-size: contain;
}
.color_15 {
  background: url('../../../../public/images/notes/note12.svg') center no-repeat;
  background-size: contain;
}

.container_note:hover {
  transform: scale(1.015);
  opacity: 0.9;
}

.container_note a {
  position: absolute;
  top: 82px;
  left: 43.7px;
  width: 70%;
  height: 20%;
  text-align: center;
  list-style: none;
  font-size: 0.9rem;
  font-weight: 900;
  cursor: pointer;
}

.link {
  width: 100%;
  height: 100%;
  list-style: none;
  color: black;
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: black;
}

.dark {
  opacity: 0.7;
}

.notes_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1440px) {
  .container_note span {
    grid-column: 1;
    grid-row: 4/6;
    padding-top: 1.55rem;
    padding-left: 1rem;
    font-size: 0.75rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 0.5rem;
  }

  .container_note {
    width: 100%;
    height: 100%;
  }

  .container_note {
    padding-top: 1.2em;
    padding-right: 0.5em;
    font-size: 0.75rem;
    font-weight: 700;
  }
}
